
.footer-distributed {
	background-color:#6E78F7;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
	display: inline-block;
  
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
	width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3 {
	color: #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
  }
  
 
  
  /* Footer links */
  
  .footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
  }
  
  .footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
  }
  
  .footer-distributed .footer-company-name {
	color: #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
	width: 35%;
  }
  
  .footer-distributed .footer-center i {
	
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
  
  }
  
  .footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
  
	margin: 0;
  }
  
  .footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
	color: rgb(47, 32, 178);
	text-decoration: none;
	;
  }
  
  .footer-distributed .footer-links a:before {
	content: "|";
	font-weight: 300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
	content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
	width: 20%;
  }
  
  .footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
	margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
  

	border-radius: 2px;
  
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
  
	margin-right: 3px;
	margin-bottom: 5px;
  }

/* chatbot*/
#di {
	background-color:#6E78F7;
	width: 15%;
	padding-left: 13px;
	padding-bottom: 12px;
	border-radius: 20px;
	position: fixed;top:300px; left:1050px;
	
}

#userBox{border-radius: 20px; border-style: none;}

textarea{border-style: none;border-radius: 20px;}
#b1{position: fixed;top:520px; left:1250px;border-style: none; z-index: 1; }
.message{font-size: 5ch;color: rgb(0, 140, 255);background-color:transparent;}
#userBox{background-color: rgb(204, 184, 184);}
#chatLog{color:white; margin-left: 50px;padding-top: 13px;}










*{
	font-family: 'Poppins', sans-serif;
}

/*********************** NAVBAR **************************************************************/
.navbar{
    width:50% !important;
    margin:0px auto;
    left:0;
    right:0;
    padding:0;
    margin-top: 80px;
    margin-bottom: 40px;
}

.collapse{ display: flex; justify-content: center;
background-color: white;
box-shadow: 5px 12px 8px #dbdbd8;
border-radius: 20px;
}

li
{

margin-left: 50px;
font-size: 20px;
}

#gal
{
  color: blue;
}
#mm:hover
{
  color:pink;
}

/*********************** NAVBAR **************************************************************/



h4
{
    color:brown;
    text-align: center;
    
}
#h4-2
{
    margin-bottom: 60px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
}

.gallery .swiper-slide {
  transition: 0.3s;
}

.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5777ba;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5777ba;
}

.gallery .swiper-slide-active {
  text-align: center;
}

.gallery
{

  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;

}

.img-fluid{border-radius: 20px;}
@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }
  .gallery .swiper-slide-active {
    border: 6px solid #5777ba;
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
    margin-top: 10px;
    border-radius: 25px;
  }
}
  
/*******************************MOBIIILE****************************************************************/

@media screen and (max-width: 400px)
 {

  .navbar{
    
    margin-top: 30px;
    margin-left: 150px;
}


  
  
  
}